<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/_slds/styles/salesforce-lightning-design-system.css" />
<title><%= title %></title>
<style>
	body {
		margin: 0;
		background-color: #b0c4df;
		/* background-color: #f3f2f2; */
	}
</style>
